<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PORTFOLIO</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./static/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/img/icon-180x180.png">
    <link href="./static/img/favicon.ico" rel="icon">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="./static/script.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg fixed-top navbar-light">
        <div class="container ">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span > <a class="navbar-brand" href="#"><span class="logo">༺ༀ </span><span class="logo"> PORTFOLIO  </span><span class="logo"> ༀ༻</span></a> </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"><span class="logo">Home</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Certificates"><span class="logo">Certificates</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about"><span class="logo">About me</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><span class="logo">Contacts</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="section-container">
      <div class="container">
        <div class="row justify-content-center">
          <h1 class="h2 text-center item__pad">ABOUT ME</h1>
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <img src="./static/img/avatar.jpg" class="img-responsive" alt="" style="width: 100%; border-radius: 50%; border: 1px solid #cccccc;">
              </div>
              <div class="col-xs-12 col-md-6">
                <h3>Profile</h3>
                <p>
                  Hello! My name is Kakhramon Khadzhibaev. I am an undergraduate student at ITMO University.
                  I am studying at the Faculty of Software Engineering and Computer Engineering, web technology profile.</p>
                <h3>Professional skills</h3>
                <p> Experience gained in the IT field during training and at previous jobs. I have experience in
                  administration: OS of the Windows family, support and maintenance of 1C - Accounting 7 - 8,
                  client banks and Internet banks. I also have a server transfer or server recovery from scratch,
                  laptop and personal computer repair.
                <h3>hobbies</h3>
                  <p>I love watching fantastic movies. I am also fond of programming, in my free time I write
                    websites and study different technologies in the field of IT.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer-container text-center section__color">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>
              © ИТМО | Проект был разработан, магистром 2 - го курса:
              <a href="/about" title="Обо мне">Хаджибаев Кахрамон Обиджанович</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>