<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PORTFOLIO</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./static/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/img/icon-180x180.png">
    <link href="./static/img/favicon.ico" rel="icon">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <script src="./static/script.js"></script>
  </head>
  <body>

    {% block head %}
    {% endblock %}



    <section class="wrapper">
      <div class="wrapper__media">
        <video autoplay muted loop class="wrapper__media__video" >
          <source src="img/templarbit-data.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
      </div>
      <div class="wrapper__content">
          <h1>Welcome to my website!</h1>
          <p class="text_home">꧁ My name is Kahramon Hadjibaev ꧂</p>
      </div>
    </section>

  </body>
</html>

